/* Created by Judi Dupuy on 2/22/26 */
/* Styles for full screen*/
nav {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: -35px;
}
nav ul {
    background-color: rgb(175,175,175);
}
nav ul li {
    background-color: rgb(148,51,62);
    border-radius: 5px;
}
header h1 {
    width: 100%;
    margin: -5px 0px 20px -10px;
    text-align: center;
}