/* Created by Judi Dupuy on 2/16/26 */
/* Set the height of the body and html to 100% */
html, body {
    height: 100%;
    width: 100%;
}
header {
    width: 105%;
    margin: 0px -10px 0px -10px;
    background-color: rgb(240, 248, 255);
}
header h1 {
    text-shadow: 2px 2px 5px rgb(30, 144, 255);
    font-family: Garamond;
    background-image: linear-gradient(rgb(255, 255, 255));
}
nav {
    width: 200px;
    float: left;
}
nav ul {
    line-height: 2em;
    list-style-type: none;
}
nav ul li {
    background-color: rgb(175,175,175);
    border-radius: 5px;
    width: 99%;
}
nav a {
    color: rgb(255, 255, 0);
    font-weight: bold;
    text-decoration: none;
}