/* Created by Judi Dupuy on 2/14/26 */
/* Set the height of the body and html to 100% */
header {
    margin: -10px 0px 0px -10px;
    padding-left: 5px;
    display: grid;
    grid-template-areas:
    "hamburger  title   title"
    "nav    nav     nav";
}
.menu-chkbx {
    display: none;
}
.menu-burger {
    grid-area: hamburger;
    padding: 30px 20px 30px 0;
    position: relative;
    visibility: visible;
}
.hamburger {
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    background: rgb(0,0,0);
}
.hamburger:before {
    top: 5px;
}
.hamburger:after {
    top: -5px;
}
.hamburger::before, .hamburger:after {
    background: rgb(0,0,0) ;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
}