/* Created by Judi Dupuy on 2/14/26 */
/* Set the height of the body and html to 100% */
html, body {
    height: 100%
}
/* Display HTML5 structural elements as blocks */
footer, header, section, nav {
    display: block;
}
/* Style for the nav element */
nav {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: 35px;
}