/* Created by Judi Dupuy on 2/16/26 */
/* Set the height of the body and html to 100% */
nav {
    width: 200px;
    float: left;
}
nav ul {
    line-height: 2em;
    list-style-type: none;
}
nav ul li {
    background-color: rgb(175,175,175);
    border-radius: 5px;
    width: 99%;
}
nav a {
    color: rgb(255, 255, 0);
    font-weight: bold;
    text-decoration: none;
}