/* Created by Judi Dupuy on 2/22/26 */
/* Styles for Tablet screens */
nav {
    margin: -15px 0px 0px 5px;
    width: 99%;
    height: 100%;
}
nav ul {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul li {
    flex: 1;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(0,0,0);
    text-align: center;
}
header h1 {
    width: 100%;
    margin: -5px 0px 0px -10px;
    text-align: center;
    font-size: 22px;
}